body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: 400;
}
.orange-color{
    color: orange;
}
.fexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 100%;
    padding: 5%;
    margin-top: 2%;

}
.half-width img{
    width: 80%;
}
.btn{
    display: flex;
    color: #fff;
    font-size: 1em;
    background-image: linear-gradient(orange,tomato);
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 30px;
    letter-spacing: 2px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.5s;   
}
.btn:hover{
    letter-spacing: 6px;
}
.banner-top{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.cv-btn{
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(rgb(255, 0, 200),rgb(111, 71, 255));
    padding: 10px 30px;
    margin: 10px;
    font-size: 1.5em;
    font-weight: 400px;
    color: #fff;
    border-radius: 10px;
    transition: 0.5s;
}
.cv-btn:hover{
    letter-spacing: 6px;
}
.Dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x:right;
}
.experience-item{
    box-shadow: 10px 10px 50px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 20px;
}
.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
}
#full-web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(96, 0, 109), salmon);
    border-image-slice: 1;
}
#baby-web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(38, 0, 109), rgb(114, 223, 250));
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: indigo;
}